<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="idv.brianhsu.maidroid.plurk"
  android:installLocation="auto"
  android:versionCode="20"
  android:versionName="0.1.6">
  <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="com.android.vending.BILLING" />

  <application 
    android:label="@string/app_name" 
    android:theme="@style/AppTheme"
    android:icon="@drawable/ic_launcher">
    <meta-data android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version"/>
    <activity android:name=".activity.MaidroidPlurk" android:label="@string/app_name" android:configChanges="orientation|screenSize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="com.google.android.gms.ads.AdActivity"
                   android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    <activity 
      android:configChanges="orientation|screenSize"
      android:name=".activity.ResponseListActivity" 
      android:label="@string/titleResponseList" />

    <activity 
      android:configChanges="orientation|screenSize"
      android:name=".activity.AboutActivity" 
      android:label="@string/titleAbout" />

    <activity 
      android:configChanges="orientation|screenSize"
      android:name=".activity.CliqueActivity"  />

    <activity 
      android:configChanges="orientation|screenSize"
      android:name=".activity.UserTimelineActivity" 
      android:label="@string/titleUserTimeline" />

    <activity 
      android:configChanges="orientation|screenSize"
      android:name=".activity.AlertListActivity" 
      android:label="@string/titleAlertList" />

    <activity 
      android:configChanges="orientation|screenSize"
      android:name=".activity.CurrentUserActivity" 
      android:label="@string/titleCurrentUser" />

    <activity 
      android:configChanges="orientation|screenSize"
      android:name=".activity.PostResponseActivity"
      android:label="@string/titlePostResponse"
      android:windowSoftInputMode="adjustResize"/>

    <activity 
      android:configChanges="orientation|screenSize"
      android:name=".activity.EditPlurkActivity"
      android:label="@string/titleEditPlurk"
      android:windowSoftInputMode="adjustResize"/>

    <activity 
      android:configChanges="orientation|screenSize"
      android:name=".activity.PostPlurkActivity"
      android:label="@string/titlePostPlurk"
      android:windowSoftInputMode="adjustPan">

      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND_MULTIPLE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>
    </activity>
  </application>
</manifest>
